# 6/22

## 파이썬 기초

#### 파이썬 이란  
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어  
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어.  
구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징  
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10+20+30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그래밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. #기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1,10, "Hello"
- 키워드 :파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그래밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [2]:
!python -V # 파이썬 버전 확인

Python 3.8.3

In [3]:
# 표현식
print(273)
print(10+20+30)
"python programming"

273
60

'python programming'

In [4]:
# 표현식이 하나 이상씩 모이면 문장
print(52, 'Hello Python', 5+3)

52 Hello Python 8

In [5]:
a=1;b=2;c=a+b
print(c)

3

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

식별자 기본 규칙
- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(_)만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

alpha  
break # 키워드  
alpah10  
_alpah  
273alpah # 숫자로 시작  
AlpHa  
ALPHA  
has space # 공백포함

파이썬은 snake_case와 CamelCase를 모두 사용
- itemlist     item_list     ItemList  
- loginstatus  login_status  LoginStatus  
- 캐멀케이스(대문자로 시작) 클래스  
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수  
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [8]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어
if 3 in [1,2,3,4]: print('3이 있습니다')

3이 있습니다

In [9]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 00 또는 00으로 시작
f = 0xABC # 16진수 0x로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

123
-123
0
1.23
127
2748

In [10]:
# 사칙연산
a = 10
b = 2
c = a + b
d = a * b
e = a / b
f = a % b # 나머지
g = a // b # 몫
h = 2**3 # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
8

In [11]:
# 다른 타입간 연산은 안됨
string = "문자열 "
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [12]:
a = 10
a = "문자"
a = 100
type(a)
# int : 정수

int

In [13]:
# 복합 대입 연산자
num = 10
num += 10 # num = num + 10
num *= 10 # num = num * 10
num

200

In [14]:
# 사용자 입력
input("인사말을 입력하세요: ")

인사말을 입력하세요: 안녕하세요.

'안녕하세요.'

In [15]:
num = input('숫자를 입력하세요: ')
print(num)
type(num)

숫자를 입력하세요: 5
5

str

In [16]:
num1 = input('숫자를 입력하세요 : ')
num2 = input('숫자를 입력하세요 : ')
print(num1 + num2)

숫자를 입력하세요 : 5
숫자를 입력하세요 : 5
55

In [17]:
# input() 함수를 사용하면 숫자도 문자로 전환되어 숫자연산을 위한 변환 필요
num1 = input('숫자를 입력하세요 : ')
num1_n = int(num1)
num2 = input('숫자를 입력하세요 : ')
num2_n = int(num2)
print(num1_n + num2_n)

숫자를 입력하세요 : 5
숫자를 입력하세요 : 5
10

In [19]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3출력하세요.

# num1 = int(input('숫자를 입력하세요: '))
# num2 = float(input('숫자를 입력하세요: '))
# print(num1+num2)

String_a = input("입력A> ")
int_a = int(String_a)
String_b = input("입력B> ")
float_b = float(String_b)
print(int_a + float_b)

입력A> 3
입력B> 3.3
6.3

In [20]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요.

a = str(52)
b = str(52.273)
print(a+b)

5252.273

In [21]:
# 문자열 : " ", ' ', """ """, ''' '''
p1 = "python's value is great"
# p2 = 'python's value is great'
print(p1)

python's value is great

In [22]:
s1 = '"python is valuable" he says'
s1

'"python is valuable" he says'

In [23]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [24]:
y1 = "Once you study data analysis\nYou need Python"
print(y1)
y2 = '''Once you study data analysis
You need Python'''
print(y2)
y3 = """Once you study data analysis
You need Python"""
print(y3)

Once you study data analysis
You need Python
Once you study data analysis
You need Python
Once you study data analysis
You need Python

In [25]:
# 문자열 연산
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("="*20)

Python is easy to learn
PythonPythonPython
====================

In [26]:
# 자료형 - List
# 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [27]:
# 인덱싱(0부터 시작)
list1 = [1,2,3,4,5]
print(list1[:]) # 전체
print(list3[2])
print(list3[3][4])
print(list3[4][1])
print(list3[-1][1])

[1, 2, 3, 4, 5]
abc
5
b
b

In [28]:
# 리스트 수정, 삭제
import numpy as np
a = np.arange(10).tolist()

a = [0,1,2,3,4,5,6,7,8,9]
b = ['a','b','c']
a[0] = 1
print(a)
b[1] = 'a'
print(b)
del b[0]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [29]:
c = a + b
print(c)

c[-1] = 1
print(c)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'c']
[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 1]

In [30]:
c[-2] = 2
print(c)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]

In [31]:
# 순서대로 정렬
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]
s.sort()
print(s)

# 내림차순(두 가지 방법)
s_d = sorted(s, reverse=True)
print(s_d)

s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [37]:
# 인덱스 위치 반환(제일 앞에 있는 인덱스 위치 반환)
import numpy as np
c = np.random.randint(100, size=100).tolist()
print(c)
c.index(65)

[79, 43, 38, 7, 69, 67, 93, 98, 21, 25, 40, 82, 42, 71, 55, 89, 19, 10, 26, 37, 14, 79, 65, 42, 56, 96, 48, 19, 61, 58, 98, 62, 68, 44, 99, 13, 40, 9, 60, 2, 14, 82, 87, 52, 10, 18, 16, 75, 41, 43, 97, 95, 65, 45, 40, 33, 77, 71, 36, 88, 39, 74, 6, 71, 63, 24, 96, 72, 56, 17, 56, 21, 23, 74, 49, 24, 98, 81, 8, 30, 81, 32, 31, 17, 97, 95, 63, 12, 85, 24, 29, 56, 61, 11, 13, 42, 82, 24, 83, 13]

22

In [38]:
# 개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(3))

3

In [39]:
# 리스트 확장
# 두 개 이상이면 extend 사용, 하나면 append 사용
h = [1,2,3]
h.extend([4,5])
print(h)

h.append(6)
print(h)

# 인덱스 지정하여 변경
h.insert(0,5)
print(h)

### 마지막 인덱스 다음 번호로 추가도 할 수 있음. 건너뛴 큰 숫자로 입력해도 마지막에 추가됨.
h.insert(10,1)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 1]

In [40]:
# 튜플
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

print(tuple1[:])
print(tuple3[2])
print(tuple3[3][4])
print(tuple3[4][1])

(1, 2, 3, 4, 5)
abc
5
b

In [41]:
list1 = [1,2,3,4,5]
list1[0] = 6
print(list1)

[6, 2, 3, 4, 5]

In [42]:
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용
tuple1[0] = 6
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [43]:
t1 =(1,) # 한 개의 요소만 가질 때는 요소 뒤에 콤마를 붙여야 함/ 컴마 없으면 int로 인식
print(t1)
t2 = 1,2,3
print(t2)
print(t2 * 3)
t3 = t1 + t2
print(t3)
t4 = (1)
print(t4)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [45]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
d1 = {'a':1,'b':2,'c':3}
print(d1['a'])
d1['b'] = 5
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [46]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [47]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다)
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'H', 'o', 'e', 'l'}

In [48]:
# 집합은 인덱싱으로 값을 얻을 수 없으며, 필요시 리스트나 튜플로 변환 후 인덱싱
l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])

2
o

In [49]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트와 튜플로 출력하세요.
# 합집합(s1 | s2), 교집합(s1 & s2)
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 내가 푼 거
print('합집합(리스트) :',list(s1|s2))
print('교집합(리스트) :',list(s1&s2))
print('합집합(튜플) :',tuple(s1|s2))
print('교집합(튜플) :',tuple(s1&s2))

합집합(리스트) : [1, 2, 3, 4, 5, 6, 7, 8, 9]
교집합(리스트) : [4, 5, 6]
합집합(튜플) : (1, 2, 3, 4, 5, 6, 7, 8, 9)
교집합(튜플) : (4, 5, 6)

In [50]:
# if문
li = ['a','b','c']
if 'a' in li:
    print('a가 li에 있습니다')
else:
    print('a가 li에 없습니다')

a가 li에 있습니다

In [51]:
# 포멧함수(두 가지 방법)
f1 = "{} 선수가 {}등 입니다.".format('홍길동',1)
print(f1)
f2 = "{1} 선수가 {0}등 입니다.".format(1,'홍길동')
print(f1)
print("%s 선수가 %d등 입니다." %('홍길동',1))

홍길동 선수가 1등 입니다.
홍길동 선수가 1등 입니다.
홍길동 선수가 1등 입니다.

In [52]:
# 파이썬은 자바보다 2배 쉽습니다.

f2 = "{}은 {}보다 {}배 쉽습니다.".format('파이썬','자바',2)
print(f2)
print("%s은 %s보다 %d배 쉽습니다." %('파이썬','자바',2))

파이썬은 자바보다 2배 쉽습니다.
파이썬은 자바보다 2배 쉽습니다.

In [53]:
ex2 = 12345
f2 = '{:d}'.format(ex2)
print(f2)
f3 = '{:10d}'.format(ex2) # : 뒤 숫자는 공백 넣어줌(공백 수 + 글자 수)
print(f3)
ex3 = 12.3456789
f4 = '{:f}'.format(ex3)
print(f4)
f5 = '{:15.2f}'.format(ex3) #:0.0 에서 소수점 뒷 자리는 소수점 자리수 정해줌.
print(f5)

12345
     12345
12.345679
          12.35

In [54]:
# 제어문 - if-elif-else
# "수입과 지출금액을 비교해서 수입이 많으면 저축 증가, 반대면 빚이 증가, 같으면 현상 유지"

income = 5,000,000
expense = 4,000,000

if income > expense:
    print("저축 증가")
elif income < expense:
    print("빚 증가")
else:
    print("현상유지")

저축 증가

In [55]:
# for 반복문
numbers = [5,15,6,20,7,25]
for number in numbers:
    print(number,end=' ')


# while 은 무한반복

5 15 6 20 7 25