# 과제_0623

Q. 함수 이용하여 프로그램 만들기

In [3]:
def air_quality():
    import requests
    from bs4 import BeautifulSoup

    url = 'https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%EB%AF%B8%EC%84%B8%EB%A8%BC%EC%A7%80%EB%86%8D%EB%8F%84&oquery=%EB%AF%B8%EC%84%B8%EB%A8%BC%EC%A7%80%EB%86%8D%EB%8F%84&tqi=hNThDsprvh8ssMVtJE4ssssstLl-013528'
    req = requests.get(url)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    PM = int(soup.find(class_='value').text)
    
    if 0 <= PM <= 30:
        condition= "좋음"
    elif 30 < PM <= 80:
        condition = '보통'
    elif 80 < PM <= 150:
        condition = '나쁨'
    elif 150 < PM:
        condition = '매우나쁨'
    
    print('현재 서울의 미세먼지 농도는 {}ug/m3로 {} 상태 입니다.'.format(PM,condition))

air_quality()

현재 서울의 미세먼지 농도는 39ug/m3로 보통 상태 입니다.

Q. 1 ~ 20 사이의 정수에서 3의 배수만 출력하세요.

In [4]:
for i in range(1,21):
    if i%3==0:
        print(i)

3
6
9
12
15
18

Q. 1 ~ 100 범위의 정수에서 95보다 큰 정수만 출력하세요.

In [5]:
for i in range(1,101):
    if 95 < i:
        print(i)

96
97
98
99
100

Q. [5,0,3,3,7,9,3,5,2,4]에서 7, 9만 출력하세요.

In [6]:
list1 = [5,0,3,3,7,9,3,5,2,4]

for i in list1:
    if 7 <= i:
        print(i)

7
9

Q. [5,0,3,3,7,9,3,5,2,4]에서 0, 9만 출력하세요.

In [7]:
li1 = [5,0,3,3,7,9,3,5,2,4]

for i in li1:
    if (i==0) | (i==9):
        print(i)

0
9

Q. num에서 10, 11, 12만 출력하세요.

In [8]:
import numpy as np
num = np.arange(20).tolist()
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
for i in num:
    if 10 <= i <= 12:
        print(i)

10
11
12

Q. while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해보세요.

In [10]:
x = 1
sum = 0

while x <= 1000:
    if (x%3==0) & (x%5==0):
        sum += x
    x += 1
print(sum)

33165

Q. 1 ~ 1000 사이의 정수 중 5과 7의 공배수의 합을 구하세요.

In [11]:
x = 1
sum = 0
while x <= 1000:
    if (x%5==0) & (x%7==0):
        sum += x
    x += 1
print(sum)

14210

Q. 1 ~ 100 사이의 정수 중 3과 4의 공배수를 리스트로 구하세요.

In [12]:
li = []

for i in range(1,101):
    if (i%3==0) & (i%4==0):
        li.append(i)
print(li)

[12, 24, 36, 48, 60, 72, 84, 96]

Q. 3 ~ 7 사이의 정수의 곱을 구하세요.

In [13]:
num = 1

for i in range(3,8):
    num *= i
print(num)

2520

Q. 2, 3을 더한 후 5를 곱하는 계산 값을 람다함수를 이용하여 구하세요.

In [14]:
x = lambda a,b,c: (a+b)*c

x(2,3,5)

25

Q. 2와 5를 더한 후 3으로 나눈 나머지 값을 사용자 함수를 이용하여 구하세요.

In [15]:
def cal(a,b,c):
    return (a+b)%3

cal(2,5,3)

1

Q. 함수를 사용하여 공백 없이 출력하기

In [16]:
input_a ="""
                            It is true
'Python is fit for data analysis'
"""
print(input_a)

                            It is true
'Python is fit for data analysis'

In [17]:
print(input_a.strip())

It is true
'Python is fit for data analysis'

Q. "10/20/30/40/50"을 '/'를 기준으로 구분하여 아래와 같이 출력하세요.  
['10','20','30','40','50']

In [18]:
a = "10/20/30/40/50"
a.split('/')

['10', '20', '30', '40', '50']

Q. 현재의 날씨와 시간을 다음과 같이 포맷으로 표현하세요  
2021년 6월 23일 09시 01분 01초

In [19]:
import time

print(time.strftime('%Y년 %m월 %d일 %H시 %M분 %S초'))

2021년 12월 24일 19시 42분 45초

Q. 짝수와 짝수를 입력하면 곱한 값을 출력하고, 홀수와 홀수를 입력하면 덧셈 값을 출력하고, 
그 외는 다시 입력하라는 메시지를 출력하세요.

In [22]:
num1 = int(input('숫자1 입력 : '))
num2 = int(input('숫자2 입력 : '))

if (num1%2==0) & (num2%2==0):
    print(num1*num2)
elif (num1%2==1) & (num2%2==1):
    print(num1+num2)
else:
    print('다시 입력')

숫자1 입력 : 3
숫자2 입력 : 5
8

Q. 1부터 100까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.  
1\*99, 2\*98, ... , 99\*1

In [21]:
x = 1
y = 99
best_num = 0

while x <= 99:
    num = x*y
    if best_num < num:
        best_num = num
    x+=1
    y-=1

print(best_num)

2500

Q. [  ]을 채워서 아래의 출력과 같이 출력하세요.

In [72]:
numbers = [1,2,3,4,5,6,7,8,9]  
output = [[],[],[]]

# for number in numbers:  
#     output[ ].append(number)  
# print(output)  
  
# 출력 : [1,4,7],[2,5,8],[3,6,9]

In [73]:
for number in numbers:
    if number%3==1:
        output[0].append(number)
    elif number%3==2:
        output[1].append(number)
    elif number%3==0:
        output[2].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

#### Q.커피 자판기 프로그램
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고  
그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [23]:
coffee = 5

while coffee:
    try:
        money = int(input('돈을 넣어주세요.'))
    except:
        print('다시 입력하세요.\n')
        continue

        
    if money < 300:
        print('{}원 부족합니다. 돈을 반환합니다.\n'.format(300-money))
        continue
    elif money == 300:
        print('커피를 받으세요.\n')
    else:
        change = money-300
        print('거스름돈 {}원과 커피를 받으세요.\n'.format(change))
    
    coffee -= 1
    
    if coffee < 1:
        print('재고가 모두 소진되었습니다.😃')

돈을 넣어주세요.300
커피를 받으세요.

돈을 넣어주세요.200
100원 부족합니다. 돈을 반환합니다.

돈을 넣어주세요.400
거스름돈 100원과 커피를 받으세요.

돈을 넣어주세요.ㄱㄴㄷ
다시 입력하세요.

돈을 넣어주세요.300
커피를 받으세요.

돈을 넣어주세요.300
커피를 받으세요.

돈을 넣어주세요.300
커피를 받으세요.

재고가 모두 소진되었습니다.😃