# 과제_0624

Q. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.

In [1]:
list1 = [0,1,2,3,4,5,6]
del list1[2]
print(list1)

list2 = [0,1,2,3,4,5,6]
list2.remove(2)
print(list2)

[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]

Q. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요. (이것도 구글링!)

In [2]:
list1 = [0,1,2,3,4,5,6]
list1.clear()
print(list1)

[]

Q. list = [0,1,2,3,4,5,6]에 3, 7이 포함되어 있는지 확인하세요.

In [3]:
list1 = [0,1,2,3,4,5,6]
if 3 in list1:
    print('3이 있습니다.')
if 7 in list1:
    print('7이 있습니다.')

3이 있습니다.

Q. numbers 내부에 들어있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.  
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [4]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
for i in set(numbers):
    print(i, ':', numbers.count(i))

2 : 2
3 : 4
4 : 2
5 : 2
6 : 2
7 : 2
8 : 2
9 : 2

Q. list = [0,1,2,3,4,5,6]를 [6,5,4,3,2,1,0]으로 출력하세요(2가지 방법)

In [5]:
list1 = [0,1,2,3,4,5,6]
list1.sort(reverse=True)
print(list1)

list1 = [0,1,2,3,4,5,6]
list1.reverse()
print(list1)

[6, 5, 4, 3, 2, 1, 0]
[6, 5, 4, 3, 2, 1, 0]

Q. list = ['a','b','c']을 for문을 사용해서 아래와 같이 출력하세요.
- 1번째는 a입니다.
- 2번째는 b입니다.
- 3번째는 c입니다.

In [6]:
list1 = ['a','b','c']

for n,i in enumerate(list1):
    print('{}번째는 {}입니다.'.format(n+1, i))

1번째는 a입니다.
2번째는 b입니다.
3번째는 c입니다.

Q. 코딩을 한 줄로 작성해서 동일한 결과를 출력하세요. (리스트 안에서 포문사용)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [7]:
print(list(4*i**2 for i in range(10)))

print(list(i*i for i in range(0,20,2)))

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

Q. list = [0,1,2,3,4,5,6,7,8,9]에서 아래와 같이 출력하세요.  
list1 = [0,1,2,3,4,5,6,7,8,9]  
[0,2,4,6,8]  
[1,3,5,7,9]  
[2,1,0]

In [8]:
list1 = [0,1,2,3,4,5,6,7,8,9]

print(list(filter(lambda x: x%2==0, list1)))
print(list(filter(lambda x: x%2==1, list1)))
print(sorted(list(filter(lambda x: x<3, list1)),reverse=True))

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[2, 1, 0]

Q. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.  
a::b::c

In [9]:
list1 = ['a','b','c']
print('::'.join(list1))

a::b::c

Q. 사용자 함수를 이용해서 여러 개의 숫자를 입력하면 그 숫자들의 곱을 구하세요.

In [10]:
def mul(*args):
    result = 1
    for i in args:
        result *= i
    return result

mul(1,2,3,4,5)

120

Q. 두 개의 숫자를 인자로 적용하면 사칙연산을 수행하는 사용자 함수를 작성한 후  
5,3을 대입한 결과를 튜플로 출력하세요. 단, 소수점은 없게 처리

In [11]:
def cal(choice, num1, num2):
    if choice == 'mul':
        result = num1 * num2
    elif choice == 'plus':
        result = num1 + num2
    elif choice == 'minus':
        result = num1 - num2
    elif choice == 'div':
        try:
            result = num1 / num2
        except:
            print('다시 입력해주세요.')
    return result

cal('div',3, 1)

3.0

Q. 뺄셈, 나눗셈 멀티 계산 함수를 작성

In [12]:
def cal(choice, *args):
    if choice == 'minus':
        for n,i in enumerate(args):
            if n==0:
                result = i
            else:
                result -= i
        print(result)
    elif choice == 'div':
        try:
            for n,i in enumerate(args):
                if n==0:
                    result = i
                else:
                    result /= i
            print(result)
        except:
            print('다시 입력해주세요.')

In [13]:
cal('minus',3,4,5,6,0)

-12

Q. 아래를 완성하여 2를 출력하세요.

In [14]:
a = 3
def vartest(a):
    a -= 1
    return a
    
vartest(a)

2

Q. 데이터를 입력하지 않으면 종료되는 코딩을 수행하세요.  
단, 반복적으로 작업을 수행할 수 있음.

In [15]:
while 1:
    data = input('데이터를 입력하세요. : ')
    if data == '':
        break

데이터를 입력하세요. : 1
데이터를 입력하세요. : 2
데이터를 입력하세요. : 3
데이터를 입력하세요. : 4
데이터를 입력하세요. : 5
데이터를 입력하세요. :

Q. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [16]:
def fac(i):
    if i != 0:
        x=1
        for i in range(i,0,-1):
            x*=i
        return x
    else:
        return "잘못입력"

print(fac(1))
print(fac(5))
print(fac(10))

1
120
3628800

Q. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는 작성하고 1!, 5!, 10!를 구하세요.  
factorial(n) = n * factorial(n-1) (n >= 1)

In [17]:
def fac1(i):
    if i <= 1:
        return 1
    return i*fac(i-1)
        
print(fac1(1))
print(fac1(5))
print(fac1(10))

1
120
3628800

Q. 원의 면적과 둘레의 길이를 구하는 사용자 함수를 작성하여 반지름이 5와 10일때 면적과 둘레를 구하세요.

In [18]:
def circle(r):
    return '면적 : {:.4f}, 둘레 : {:.4f}'.format(3.14*r**2, 2*3.14*r)

print(circle(5))
print(circle(10))

면적 : 78.5000, 둘레 : 31.4000
면적 : 314.0000, 둘레 : 62.8000

Q. '안녕!'을 10번 출력하는 사용자 함수를 작성하여 실행하세요.

In [19]:
def hi():
    for i in range(10):
        print("안녕!")
hi()

안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!

Q. 내장함수를 이용하여 [1,2,3,4,5]를 [1.0, 2.0, 3.0, 4.0, 5.0]으로 변환하세요.

In [20]:
li1 = [1,2,3,4,5]

def fl(i):
    return float(i)

li2 = list(map(fl,li1))
li2

[1.0, 2.0, 3.0, 4.0, 5.0]

Q. 내장함수 map()를 이용하여 [1,2,3,4,5]을 [1,4,9,16,25]로 변환하세요.

In [21]:
li1 = [1,2,3,4,5]

print(list(map(lambda x: x**2, li1)))

[1, 4, 9, 16, 25]